//dmixer-general-carousel
section.general-carousel
        h2 From the bar
        .carousel-wrapper
          #carousel.post-carousel
            ul.post.post-circular      
              - var items = [['holiday-entertaining','The do\'s and dont\'ts of holiday entertaining','CarolineGoddard','Caroline Goddard' ],['holidays-coctails','Party perfect holidays coctails','MarisCallahan','Maris Callahan' ],['trips-party','Trips for pulling off a flawless holiday party','MarisCallahan','Maris Callahan']]
              - each item, i in items
                li.post-item
                  .post-thumb
                    img(class="wp-post-image",alt="#{item[0]}",src="images/#{item[0]}.jpg")
                  .post-desc
                    h4  
                      a(href="javascript:void(0);") #{item[1]}
                    .entry-author
                      img(src="images/authors/#{item[2]}.jpg",alt="#{item[3]}",class="img-circle")
                      span by #{item[3]}

            // prev and next button
            a#prev.prev.icon-left-advance-arrow(href='#')              
            a#next.next.icon-right-advance-arrow(href='#') 
          a.view-more(href='#') View all articles   