extends ./layout.jade

block append content
  section.container.general-wrapper

      //general-content

      section.general-content
        header.general-header
          div.header-ad-slot
              img(alt='Header AD', src='images/header-ad-slot.png')

        //general-search

        section.general-search
          form(role="search").navbar-form.dmixer-search
              button(type="submit").btn.btn-default
              .form-group 
                input(type="text", placeholder="Search").form-control

        //general-slider

        section.general-slider
            div.dmixer-slider-homepage
                ul.dmixer-slider-list#dmixer-slider-mainp
                    li.dmixer-slide-item
                        img(src="images/AlabamaSlammer.jpg", alt="AlabamaSlammer")
                        h3.dimexer-slider-subject Drink of the month
                        strong.dimexer-slider-subject Alabama Slammer
                    li.dmixer-slide-item
                        img(src="images/AlabamaSlammer.jpg", alt="AlabamaSlammer")
                        h3.dimexer-slider-subject Drink of the month
                        strong.dimexer-slider-subject Alabama Slammer
                    li.dmixer-slide-item
                        img(src="images/AlabamaSlammer.jpg", alt="AlabamaSlammer")
                        h3.dimexer-slider-subject Drink of the month
                        strong.dimexer-slider-subject Alabama Slammer
                    li.dmixer-slide-item
                        img(src="images/AlabamaSlammer.jpg", alt="AlabamaSlammer")
                        h3.dimexer-slider-subject Drink of the month
                        strong.dimexer-slider-subject Alabama Slammer

        //general-slider-sm

        section.dmixer-sidebar-sm
            h2.dimixer-sidebar-title Highlights 

            //general-top-drinks

            ul.dmixer-top-drinks
                li.dmixer-top-item
                    a.dmixer-top-link(href="javascript:void(0);")
                        img(src="images/top-drinks/highlights-drink-1.jpg", alt="highlights-drink-1")
                        span.dmixer-item-title The kicker
                li.dmixer-top-item
                    a.dmixer-top-link(href="javascript:void(0);")
                        img(src="images/top-drinks/highlights-drink-2.jpg", alt="highlights-drink-2")
                        span.dmixer-item-title The kicker
                li.dmixer-top-item
                    a.dmixer-top-link(href="javascript:void(0);")
                        img(src="images/top-drinks/highlights-drink-3.jpg", alt="highlights-drink-3")
                        span.dmixer-item-title The kicker
            a.dmixer-items-more(href="javascript:void(0);")
                span.dmixer-more-text More drinks<i class="icon-common-right-arrow"></i>


        include ./carousel.jade

        //general-panel

        section.general-panel
            section.col-xs-12.col-lg-9.dmixer-grid.dmixer-grid-main
                h2.hidden-phone Search by spirit
                .row
                    - var items = [['vodka','1611'], ['rum','1455'], ['tequila','339'],['whiskey','760'], ['brandy','108'], ['bourbon','50'], ['scotch','25'], ['liqueurs','68'], ['gin','759'], ['beer','342'], ['wine','139'], ['non-alcoholic','736']]
                    - each item, i in items
                        div.dmixer-item.col-xs-6.col-sm-4.col-lg-3
                            .dmixer-wrap
                            a.dmixer-drink.rollover-text-buble-up(href="javascript:void(0);")
                                i(class="spirits-#{item[0]}")
                                span.dmixer-drink-description
                                    
                                    strong.dmixer-title #{item[0]}
                                        span.dmixer-subtitle.hidden-phone #{item[1]} recepies

            aside.col-xs-12.col-md-3.dmixer-recent
             .common-block
                .common-block-title Have a great recipie 
                .common-block-content 
                  button Submit your own
              .social-block
                .title Join us at the bar
                .content
                  ul.social-icons
                    - var items = ['fb','tw','pin','gplus','like']
                    - each item, i in items
                      li.social-item
                        a(href="javascript:void(0);")
                          i(class="icon-#{item}")
                  .dmixer-subscribe
                    a(href="javascript:void(0);")
                      i(class="icon-email")
                      span.dmixer-subscribe-text Keep up-to-date with everything happening here at DrinksMixer
              .adv-block
                  img(src="images/award-winning.jpg", alt="Award wining")

        //search-by-letter
        section.search-by-letter
              .common-block
                .common-block-title Search drinks by letter
                .common-block-content
                  ul.letter-list
                    - var items = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
                        - each item, i in items
                          li.letter-item
                            a(href="javascript:void(0);") #{item}

        //dmixer-recent
        section.dmixer-recent.bordered-block
          h2.dmixer-recent-title Top picks
          section.dmixer-grid.dmixer-grid-aside
            .row
              - var items = [['caribou lou','caribou-lou'],['jager bomb','jager-bomb'],['irish car bomb','irish-car-bomb'],['long island iced tea','long-tea'],['italian apple martini','it-apple-martini'],['amaretto sour','amaretto-sour'],['mojito diablo','mojito-diablo'],['jungle juice','jungle-juice'],['mojito','mojito'],['red headed slut','red-headed-slut'],['buttery nipple','buttery-nipple'],['ice bomb','ice-bomb']]
              - each item, i in items
                div.dmixer-item.col-xs-4.col-sm-3.col-md-6
                  .dmixer-wrap
                    a.dmixer-drink.rollover-text-buble(href="javascript:void(0);")
                        //- i(class="icon-#{item[1]}")
                        h3.dmixer-title #{item[0]}
      //related-content
      section.related-content
        section.related-blocks
          section.col-xs-12.col-lg-9.dmixer-grid.dmixer-drink-list
            h2 Popular drinks
            ul.post.posts-similar.striped-posts         
                 - var items = [['alabama-riot','alabama riot','CarolineGoddard','Caroline Goddard'],['gods-alabama-slammer','god\s alabama slammer','CarolineGoddard','Caroline Goddard'],['alabama-fizz','alabama fizz','CarolineGoddard','Caroline Goddard']]
                 - each item, i in items
                  li.post-item
                    .post-thumb
                      img(alt="#{item[1]}",src="images/#{item[0]}.jpg")
                    .post-desc
                      header.post-header
                        h4  
                          a(href="javascript:void(0);") #{item[1]}
                      section.post-content
                        .post-category
                          i(class="icon-alabama-riot")
                          span Shots
                        .entry-author
                          img(src="images/authors/#{item[2]}.jpg",alt="#{item[3]}",class="img-circle")
                          span by #{item[3]}
                      footer.post-footer Contains: peach liqueur, pepermint schnapps, vodka, fruit punch, lime juice

          aside.col-xs-12.col-lg-3.dmixer-recent
            h2 Newest drinks
            section.dmixer-grid
              .row
                - var items = [['florida pina colada','florida-pina-colada'],['blue hawaiian','blue-hawaiian'],['kentucky style eggnog','kentucky-style-eggnog'],['bloody mary','bloody-mary'],['key west screw driver','key-west'],['spiked eggnog','spiked-eggnog']]
                - each item, i in items
                  div.dmixer-item.col-xs-6.col-sm-3.col-lg-6
                    .dmixer-wrap
                      .dmixer-drink
                        header
                          i(class="icon-#{item[1]}")
                        footer
                          h4.dmixer-title #{item[0]}

        //- .dmixer-grid-block
        //-   h2 More top picks
        //-   section.dmixer-grid
        //-       - var items = ['Alabama Riot','God\s alabama slammer','Alabama fizz','Apple slammer','Alabama slammer shooter','True alabama slammer']
        //-         - each item, i in items
        //-           div.dmixer-item.col-xs-12.col-sm-4.col-lg-4
        //-             .dmixer-wrap
        //-               a.dmixer-drink(href="javascript:void(0);")
        //-                 h4.dmixer-title #{item[0]}
        //-     div.view-more
        //-       p View all top picks
        .adv-full-screen
          img(src="images/choose-your-holiday.jpg",alt="Choose your holiday")
        .dmixer-grid-block
        h2 Ocassional  drinks
        section.dmixer-grid
            .row
              - var items = [['Tropical','104'], ['Holidays','89'], ['Romantic','41'],['Fruity','166'], ['Blue-colored','53'], ['Frozen','32'], ['Morning time','78'], ['Classic','118']]
              - each item, i in items
                div.dmixer-item.col-xs-6.col-sm-3.col-lg-3
                  .dmixer-wrap
                    a.dmixer-drink(href="javascript:void(0);")
                      header
                        i(class="icon-#{item[0]}")
                      footer
                        h4.dmixer-title #{item[0]}
                        span.dmixer-subtitle #{item[1]} recepies








    




        
